<!--клиент-->

<!DOCTYPE HTML>
<html>
<h1 style = "color: #369; font-family: Arial, sans-serif; font-size: 150%;">
        Download the file
    </h1>
 <body>

    <form action='/' method='post' enctype="multipart/form-data" style="color: #191970; font-family: Arial; font-weight: lighter;">
    <p> <input type = "file" name = 'forDownload' class="custom-file-input"/> </p>
    <p> <input type = "submit" value = 'Upload' /> </p>

    <p> To evaluate other works, click on the button: </p>
     </form>
    <form action = '/marks' method = 'get' enctype="multipart/form-data" style="color: #191970; font-family: Arial; font-weight: lighter;">
        <p> <input type = "submit" value = 'Evaluate works' /> </p>
    </form>
 </body>
</html>